/* ==================================================== /
# Project Title: Portfolio Website
# Started:  26/05/2025 19:06
# Author: Jordan
/ ==================================================== */

/*  ;                Variables Core Style                 */
:root {
  --main-background: rgba(22, 22, 22, 0.4);
  --image-colour-background: rgba(211, 68, 255, 0.2);
  --hover-background: rgba(211, 68, 255, 0.3);
  --main-colour: rgb(208, 143,214);
  --second-colour: rgb(105, 16, 156);
  --white: #FFFFFF;
}

/*--- General Styling ---*/
body {
  background-image: url(../media/images/backgrounds/canada.webp);
  background-repeat: no-repeat;
  background-size: cover;
}