/* =================================================== /
  Project Name - Main CSS File
  Author       - Jordan Picton
  Branch       - Personal
  Date & Time  - 06/08/2024 - 22:55:48
/ ==================================================== */

/* ========================================== /
  Main Logo Styling - 06/08/2024 - 22:49:57
/ ========================================== */
#pfp-logo{
  max-height: 250px;
  border-radius: 150px;
  background-color: purple;
  outline: 5px solid black;
  padding: 0.025rem;
  margin: 0.5rem;
}
