/* Global Styling */
body {
  background-image: url(../media/images/backgrounds/canada.webp);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5 {
  text-decoration: underline;
}

h1 {
  font-size: 5rem;
  color: rgb(208, 143, 214);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 16px;
  border-radius: 10px;
  border: rgb(208, 143, 214) solid 3px;
}

h3 {
  font-size: 2rem;
}

h5 {
  font-size: 1.25rem;
  text-decoration: underline;
}

main {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Classes & ID Styling */
#logo {
  /* These units of measurement need double checking */
  height: 40%;
  border-radius: 50%;
  border: purple solid 0.5rem;
  margin: 0.5rem;
}

.link-icon {
  border-radius: 100px;
  padding: 8px;
  background-color: rgba(100, 160, 100, 0.15);
}

.link-icon:hover {
  background-color: rgba(0, 100, 0, 0.4);
}

#current-project {
  display: flex;
  flex-direction: column;
  align-items:center; 
  width: 70vw;
  padding: 1rem;
  border-radius: 25px;
  background-color: rgba(50, 50, 50, 0.7);
  color: white;
}

#current-project p {
  padding: 1rem 2rem 1rem 2rem;
}

.progress-bar {
  position: relative;
  width: 500px;
  height: 3em;
  background-color: #202020;
  border-radius: 1.5em;
  color: white;
}

.progress-bar::before {
  content: attr(data-label);
  display: flex;
  align-items: center;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  bottom: 0.5em;
  width: calc(var(--width, 0) * 1%);
  min-width: 2rem;
  max-width: calc(100% - 1em);
  background-color: #fc5a5a;
  border-radius: 1em;
  padding: 1em;
}

#copyright, #copyright>a {
  color: white;
}

#copyright>a {
  text-decoration: underline;
}