:root {
  /*--- White Colour Codes ---*/
  --white-one-white: #EDEFEF;
  --rose-white: #FFFAFA;
  --white-dove: #F0EFE7;
  --titan-white: #EEEEFF;
  --greek-vanilla: #F0EBE3;
  --vista-white: #FDFCFA;
  --bone: #E3DAC9;
  --daisy: #FAFAFA;
  --mercury: #E7E7E7;
  --cascading-white: #F7F5F6;
  --simply-white: #EFEDE3;
  --paper-white: #F7FCFE;
  --anti-flash-white: #F2F3F4;
  --swan-white: #FCFCFC;
  --white-wisp: #E9E9E4;
  --alabaster: #EDEAE0;
  --soft-peach: #F6F1F4;
  --natural-white: #EEECE6;
  --shadow-white: #EEF1EA;
  --bright-white: #F4F5F0;

  /*--- Black Colour Codes ---*/
  --parisian-night: #323441;
  --cool-black: #151922;
  --crow: #0D0907;
  --black-chestnut: #252321;
  --basalt-black: #4D423E;
  --black-eel: #463E3F;
  --slate: #26282A;
  --leather: #0B0705;
  --black-grain: #2C2C2A;
  --night-shadow: #1C1C1C;
  --night: #0C090A;
  --raisin-black: #242124;
  --pitch-black: #27251F;
  --metal: #0E0C0A;
  --raven: #050301;

  /*--- Grey Colour Codes ---*/
  --dim-grey: #696969;
  --grey-goose: #D1D0CE;
  --marengo: #4C5866;
  --nickel: #727472;
  --silver-chalice: #ACACAC;

/*--- Red Colour Codes ---*/
  --desire: #EA3C53;
  --flame-red: #E25822;
  --sangria: #5E1914;
  --prismatic-red: #D03D33;
  --candy-apple: #FF0800;

  /*--- Blue Colour Codes ---*/
  --boeing-blue: #0039A6;
  --maya-blue: #73C2FB;
  --sapphire-blue: #0F52BA;
  --yale-blue: #00356B;
  --everton-blue: #003399;
}